<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- USE TEMI SKILL THEME -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"


        android:theme="@style/SkillTheme"

        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- INCLUDE TEMI SDK -->
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" />

        <!-- TEMI PERMISSIONS -->
        <meta-data
            android:name="@string/metadata_permissions"
            android:value="com.robotemi.permission.settings,
                com.robotemi.permission.map
            " />

        <!-- TEMI SET UI MODE TO DISABLE PULL-DOWN BAR -->
        <meta-data
            android:name="com.robotemi.sdk.metadata.UI_MODE"
            android:value="4" />

    </application>

</manifest>